.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  padding: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.aboutText p {
  padding: 10px 0px;
  margin-bottom: 0px;
  float: left;
}

.main h1 {
  font-size: 2.2em;
}

.main h2 {
  font-size: 1.2em;
  padding: 10px 0px;
  float: left;
}

.main ul {
  float: left;
  width: 100%;
}

.main li {
  padding: 3px 0px;
}

.borderCircle {
  border-radius: 20px;
}

.imageWrapperWide {
  margin-left: 1.2em;
  margin-right: 1.2em;
  margin-bottom: 1.2em;
  float: left;
  text-align: center;
}

.imageWrapperWide p {
  color: grey;
  font-style: italic;
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 0px;
}

.content {
  justify-content: center;
  display: flex;
}

.info {
  float: left;
  display: inline;
}

.funFactBold {
  font-weight: 550;
}

.imageWrapper {
  display: none;
}

.grabHover {
  cursor: grab;
}

@media screen and (max-width: 860px) {
  .imageWrapperWide {
    display: none;
  }

  .imageWrapper {
    margin: 1.2em;
    float: left;
    display: inline;
    text-align: center;
  }

  .imageWrapper p {
    color: grey;
    font-style: italic;
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 460px) {
  .main {
    padding: 3rem 0;
  }
}

@keyframes quiet {
  25% {
    transform: scaleY(.6);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.6);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(1.2);
  }
}

.np {
  margin-bottom: 0;
  width: max-content;
  font-size: 0.75em;
}

.artist {
  font-size: 0.75em;
}

.boxContainer {
  display: flex;
  justify-content: space-between;
  height: 14px;
  --boxSize: 2px;
  --gutter: 1px;
  width: calc((var(--boxSize) + var(--gutter)) * 5);
}

.box {
  transform: scaleY(.4);
  height: 100%;
  width: var(--boxSize);
  background: white;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1 {
  animation-name: quiet;
}

.box2 {
  animation-name: normal;
}

.box3 {
  animation-name: quiet;
}

.box4 {
  animation-name: loud;
}

.box5 {
  animation-name: quiet;
}