.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  /*padding: 4rem 0;*/
  padding: 1rem 0 4rem 0;
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.main h1 {
  font-size: 2.2em;
}

.main h2 {
  font-size: 1.2em;
}

.main h3 {
  font-size: 1em;
}

.borderCircle {
  border-radius: 9999px;
}

.imageWrapper {
  margin: 1.2em;
  float: left;
  display: inline;
}

.floatContainer {
  justify-content: center;
  display: flex;
  align-items: center;
}

.info {
  float: left;
  display: inline;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 5rem;
}

.socials li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  transition: 0.4s;
}

.socials .github:hover{
  color: #6e5494 !important;
  transform: scale(1.2);
  transition: 0.4s;
}

.socials .email:hover{
  color: #58b9f2 !important;
  transform: scale(1.2);
  transition: 0.4s;
}

.socials .linkedin:hover {
  color: #0077b5 !important;
  transform: scale(1.2);
  transition: 0.4s;
}

.socials .spotify:hover {
  color: #1db954 !important;
  transform: scale(1.2);
  transition: 0.4s;
}