.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  padding: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.main h1 {
  font-size: 2.2em;
}

@media screen and (max-width: 460px) {
  .main {
    padding: 3rem 0;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) { 
  .main img[loading='lazy'] { clip-path: inset(0.6px) } 
}
